<body>
    <header>
        <nav>
            <div class="logo"><a href="/index">CRISPYROLL</a></div>
            <div class="nav-links">
                <a href="/users">Users</a>
                <div class="highlight"><a href="/animes">Animes</a></div>
                <a href="/studios">Studios</a>
                <a href="/ratings">Ratings</a>
                <a href="/users_animes">Users/Animes</a>
            </div>
        </nav>
    </header>

    <section>
        <h1>ANIMES</h1>
        <!-- Animes table -->
        <table id="animes-table" border="1" cellpadding="5">
            <thead>
                <tr>
                    {{#each animes.[0]}}
                    <th>{{@key}}</th>
                    {{/each}}
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {{#each animes}}
                <tr data-value={{this.anime_id}}>
                    <td>{{this.anime_id}}</td>
                    <td>{{this.title}}</td>
                    <td>{{this.studio_name}}</td>
                    <td>{{this.num_episode}}</td>
                    <td><button onclick="deleteRating({{this.anime_id}})">Delete</button></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <p>&nbsp;</p>


        <!-- Insert using AJAX -->
        <form id="add-anime-form-ajax">
            <legend><strong>Add Anime</strong></legend>
            <fieldset class="fields">
                <label> Anime Title </label> <input type="text" name="input-anime-title" id="input-anime-title">
                <label> Studio Name </label>
                <select class="dropdown" name="input-studio-name" id="mySelect">
                    <option value="test">Select a Studio</option>
                    {{#each studios}}
                    <option value="{{this.studio_id}}">
                        {{this.studio_name}}
                    </option>
                    {{/each}}
                </select>
                <label> Number of Episodes </label> <input type="number" name="input-num-episode" id="input-num-episode">
                <div class="btn-container">
                    <input class="btn" type="submit" id="addAnime" value="Add an Anime">
                </div>
            </fieldset>
        </form>
        <script src="./js/addAnime.js"></script>
        <p>&nbsp;</p>

        <!-- Update using AJAX -->
        <form id="update-anime-form-ajax">
            <legend><strong>Update Anime</strong></legend>
            <fieldset class="fields">
                <label for="input-anime-title"> Anime Title </label> 
                <select name="input-title" id="input-anime-title">
                    <option value="">Select Anime</option>
                    {{#each animes}}
                    <option value="{{this.anime_id}}">{{this.title}}</option>
                    {{/each}}
                </select>
                <label> Studio Name </label>
                <select class="dropdown" name="input-studio-name" id="mySelect">
                    <option value="test">Select a Studio</option>
                    {{#each studios}}
                    <option value="{{this.studio_id}}">
                        {{this.studio_name}}
                    </option>
                    {{/each}}
                </select>
                <label for="input-num-episode"> Number of Episodes </label> <input type="text" name="input-num-episode"
                    id="num-episode-update">
                <div class="btn-container">
                    <input class="btn" type="submit" id="updateAnime" value="Save Update Anime">
                </div>
            </fieldset>
        </form>
        <script src="./js/updateAnime.js"></script>
    </section>
</body>