<!-- Animes Page --> 

<!-- Citation for the following table and form: 
        Date: 11/16/2023
        Based on the CS340 starter code for displaying and adding data, and dynamic dropdowns
        Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app -->

<body>
    <header>
        <nav>
            <div class="logo"><a href="/index">CRISPYROLL</a></div>
            <div class="nav-links">
                <a href="/users">Users</a>
                <div class="highlight"><a href="/animes">Animes</a></div>
                <a href="/studios">Studios</a>
                <a href="/ratings">Ratings</a>
                <a href="/users_animes">Users/Animes</a>
            </div>
        </nav>
    </header>

    <section>
        <h1>ANIMES</h1>

        <!-- Animes table -->
        <table id="animes-table" border="1" cellpadding="5">
            <thead>
                <tr>
                    {{#each animes.[0]}}
                    <th>{{@key}}</th>
                    {{/each}}
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {{#each animes}}
                <tr data-value={{this.anime_id}}>
                    <td>{{this.anime_id}}</td>
                    <td>{{this.title}}</td>
                    <td>{{this.studio_name}}</td>
                    <td>{{this.num_episode}}</td>
                    <td><button><a href="/update-anime?anime_id={{this.anime_id}}">Edit</a></button></td>
                    <td><button onclick="deleteAnime({{this.anime_id}})">Delete</button></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <script src="./js/deleteAnime.js"></script>

        <!-- Insert anime -->
        <form id="add-anime-form" method="POST" action="/add-anime">
            <legend><strong>Add Anime</strong></legend>
            <fieldset class="fields">
                <p>Please fill out all fields and select a studio name.</p>
                <br>

                <label> Anime Title </label> <input type="text" name="input-anime-title" id="input-anime-title" required>

                <!-- Dynamic dropdown for Studios -->
                <label> Studio Name </label>
                <select class="dropdown" name="mySelectStudio" id="mySelectStudio" required>
                    <option disabled selected> Select a Studio </option>
                    {{#each studios}}
                    <option value="{{this.studio_id}}">
                        {{this.studio_name}}
                    </option>
                    {{/each}}
                </select>

                <label> Number of Episodes </label> <input type="number" name="input-num-episode" id="input-num-episode" required>
                
                <div class="btn-container">
                    <input class="btn" type="submit" id="addAnime" value="Add an Anime">
                </div>
            </fieldset>
        </form>

    </section>
</body>