<!-- Citation: https://github.com/osu-cs340-ecampus/nodejs-starter-app -->

<body>
    <header>
        <nav>
            <div class="logo"><a href="/index">CRISPYROLL</a></div>
            <div class="nav-links">
                <a href="/users">Users</a>
                <a href="/animes">Animes</a>
                <a href="/studios">Studios</a>
                <div class="highlight"><a href="/ratings">Ratings</a></div>
                <a href="/users_animes">Users/Animes</a>
            </div>
        </nav>
    </header>

    <section>
        <h1>RATINGS</h1>
        <!-- Ratings table -->
        <table id="ratings-table" border="1" cellpadding="5">
            <thead>
                <tr>
                    {{#each ratings.[0]}}
                    <th>{{@key}}</th>
                    {{/each}}
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {{#each ratings}}
                <tr data-value={{this.rating_id}}>
                    <td>{{this.rating_id}}</td>
                    <td>{{this.user_name}}</td>
                    <td>{{this.title}}</td>
                    <td>{{this.rating}}</td>
                    <td>{{this.review}}</td>
                    <td><button onclick="deleteRating({{this.rating_id}})">Delete</button></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <script src="./js/deleteRating.js"></script>
        <p>&nbsp;</p>

        <!--Insert-->
        <form id="add-rating-form-ajax">
            <legend><strong>Add Rating</strong></legend>
            <fieldset class="fields">
                <label> User </label>
                <select name="input-user-name" id="input-user-name">
                    <option value="">Select User</option>
                    {{#each users}}
                    <option value="{{this.user_id}}">{{this.user_name}}</option>
                    {{/each}}
                </select>
                <select name="input-title" id="input-title">
                    <option value="">Select Anime</option>
                    {{#each animes}}
                    <option value="{{this.anime_id}}">{{this.title}}</option>
                    {{/each}}
                </select>
                <label> Rating </label> <input type="number" name="rating" id="input-rating">
                <label> Review </label> <input type="text" name="review" id="input-review">
                <div class="btn-container">
                    <input class="btn" type="submit" id="addRating" value="Add a Rating">
                </div>
            </fieldset>
        </form>
        <script src="./js/addRating.js"></script>

        <!--Update-->
        <p>&nbsp;</p>
        <form id="updateRating">
            <legend><strong>Update Rating</strong></legend>
            <fieldset class="fields">
                <label> User </label>
                <select name="input-user-name" id="input-user-name">
                    <option value="">Select User</option>
                    {{#each users}}
                    <option value="{{this.user_id}}">{{this.user_name}}</option>
                    {{/each}}
                </select>
                <select name="input-title" id="input-title">
                    <option value="">Select Anime</option>
                    {{#each animes}}
                    <option value="{{this.anime_id}}">{{this.title}}</option>
                    {{/each}}
                </select>
                <label> Rating </label> <input type="number" name="rating">
                <label> Review </label> <input type="text" name="review">
                <div class="btn-container">
                    <input class="btn" type="submit" id="UpdateSaveRating" value="Save Update Rating">
                </div>
            </fieldset>
        </form>
    </section>
</body>
