<!-- Studios Page --> 

<!-- Citation for the following table and form: 
        Date: 11/15/2023
        Based on the CS340 starter code for displaying and adding data
        Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app -->

<body>
    <header>
        <nav>
            <div class="logo"><a href="/index">CRISPYROLL</a></div>
            <div class="nav-links">
                <a href="/users">Users</a>
                <a href="/animes">Animes</a>
                <div class="highlight"><a href="/studios">Studios</a></div>
                <a href="/ratings">Ratings</a>
                <a href="/users_animes">Users/Animes</a>
            </div>
        </nav>
    </header>

    <section>
        <h1>STUDIOS</h1>

        <!-- Studios table -->
        <table id="studios-table" border="1" cellpadding="5">
            <thead>
                <tr>
                    <th>Studio ID</th>
                    <th>Studio Name</th>
                    <th>Year Founded</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {{#each studios}}
                <tr data-value={{this.studio_id}}>
                    <td>{{this.studio_id}}</td>
                    <td>{{this.studio_name}}</td>
                    <td>{{this.year_founded}}</td>
                    <td><button><a href="/update-studio?studio_id={{this.studio_id}}">Edit</a></button></td>
                    <td><button onclick="deleteStudio({{this.studio_id}})">Delete</button></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <script src="./js/deleteStudio.js"></script>

        <!-- Insert studio -->
        <form id="add-studio-form" method="POST" action="/add-studio">
            <legend><strong>Add Studios</strong></legend>
            <fieldset class="fields">
                <p>Please fill out all fields. Make sure to enter a valid 4-digit year.</p>
                <br>

                <label> Studio Name </label> <input type="text" name="input-studio-name" id="input-studio-name" placeholder="Name of anime studio" required>
                <label> Year Founded </label> <input type="number" name="input-year-founded" id="input-year-founded" placeholder="Year studio was founded (yyyy)" required>

                <div class="btn-container">
                    <input class="btn" type="submit" id="addStudio" value="Add a Studio">
                </div>
            </fieldset>
        </form>

    </section>
</body>
