<!-- Update Ratings Page -->

<!-- Citation for the following form: 
        Date: 11/16/2023
        Based on the CS340 starter code for updating data and dynamic dropdowns
        Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app -->

<body>
    <header>
        <nav>
            <div class="logo"><a href="/index">CRISPYROLL</a></div>
            <div class="nav-links">
                <a href="/users">Users</a>
                <a href="/animes">Animes</a>
                <a href="/studios">Studios</a>
                <div class="highlight"><a href="/ratings">Ratings</a></div>
                <a href="/users_animes">Users/Animes</a>
            </div>
        </nav>
    </header>

    <section>
        <h1>RATINGS</h1>

        <!-- Update rating -->
        <form id="update-rating-form" method="POST" action="/put-rating">
            <legend><strong>Update Rating</strong></legend>
            <fieldset class="fields">
                <p>All fields required. Reselect a user and an anime. Change User to "none" if you want to make the post anonymous.</p>
                <br>

                <label> Rating ID </label> <input class="readonly" type="number" name="rating-id-update" id="rating-id-update" value="{{ratings.rating_id}}" readonly>

                <!-- Updatable NULLable relationship -->
                <!-- Dynamic dropdown for Users -->
                <label> User </label>
                <select name="mySelectUserID" id="mySelectUserID" required>
                    <option disabled selected>Select User</option>
                    {{#each users}}
                    <option value="{{this.user_id}}">{{this.user_name}}</option>
                    {{/each}}
                    <option value="">-- none --</option>
                </select>

                <!-- Dynamic dropdown for Animes -->
                <label> Anime </label>
                <select name="mySelectAnimeTitle" id="mySelectAnimeTitle" required>
                    <option disabled selected>Select Anime</option>
                    {{#each animes}}
                    <option value="{{this.anime_id}}">{{this.title}}</option>
                    {{/each}}
                </select>

                <label> Rating </label> <input type="number" name="rating-update" id="rating-update" placeholder="1-5" min="1" max="5" value="{{ratings.rating}}" required>
                <label> Review </label> <input type="text" name="review-update" id="review-update" value="{{ratings.review}}" placeholder="Max 218 characters" required>

                <div class="btn-container">
                    <input class="btn" type="submit" id="UpdateSaveRating" value="Save Update Rating">
                </div>
            </fieldset>
        </form>

    </section>
</body>
