<body>
    <header>
        <nav>
            <div class="logo"><a href="/index">CRISPYROLL</a></div>
            <div class="nav-links">
                <div class="highlight"><a href="/users">Users</a></div>
                <a href="/animes">Animes</a>
                <a href="/studios">Studios</a>
                <a href="/ratings">Ratings</a>
                <a href="/users_animes">Users/Animes</a>
            </div>
        </nav>
    </header>

    <section>
        <h1>USERS</h1>

        <table id="users-table" border="1" cellpadding="5">
            <thead>
                <tr>
                    {{#each users.[0]}}
                    <th>{{@key}}</th>
                    {{/each}}
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {{#each users}}
                <tr data-value={{this.user_id}}>
                    <td>{{this.user_id}}</td>
                    <td>{{this.user_name}}</td>
                    <td>{{this.user_email}}</td>
                    <td><button onclick="deleteUser({{this.user_id}})">Delete</button></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <p>&nbsp;</p>

        <!-- Insert using AJAX -->
        <form id="add-user-form-ajax">
            <legend><strong>Add User</strong></legend>
            <fieldset class="fields">
                <label> User Name </label> <input type="text" name="input-user-name" id="input-user-name">
                <label> User Email </label> <input type="text" name="input-user-email" id="input-user-email">
                <div class="btn-container">
                    <input class="btn" type="submit" id="addUser" value="Add a User">
                </div>
            </fieldset>
        </form>
        <script src="./js/addUser.js"></script>
        <p>&nbsp;</p>

        <!-- Update using AJAX -->
        <form id="update-user-form-ajax">
            <legend><strong>Update User</strong></legend>
            <fieldset class="fields">
                <label for="input-user-name"> Username </label>
                <!-- Dynamic dropdown for Users -->
                <select class="dropdown" name="input-user-name" id="mySelect">
                    <option value="test">Select a User</option>
                    {{#each users}}
                    <option value="{{this.user_id}}">
                        {{this.user_name}}
                    </option>
                    {{/each}}
                </select>
                <label for="input-user-email"> Email </label> <input type="text" name="input-user-email"
                    id="user-email-update">
                <div class="btn-container">
                    <input class="btn" type="submit" id="updateUser" value="Save Update User">
                </div>
            </fieldset>
        </form>
        <script src="./js/updateUser.js"></script>
        <p>&nbsp;</p>

        <!-- Assign user to anime using AJAX -->
        <form id="add-users-animes-form-ajax">
            <legend><strong>Assign Anime to User</strong></legend>
            <fieldset class="fields">
                <label for="input-user-name"> Username </label>
                <!-- Dynamic dropdown for Users -->
                <select class="dropdown" name="input-user-name" id="mySelect1">
                    <option value="test">Select a User</option>
                    {{#each users}}
                    <option value="{{this.user_id}}">
                        {{this.user_name}}
                    </option>
                    {{/each}}
                </select>
                <label for="input-anime"> Anime </label>
                <select class="dropdown" name="input-anime" id="mySelect2">
                    <option value="test">Select an Anime</option>
                    {{#each animes}}
                    <option value="{{this.anime_id}}">
                        {{this.title}}
                    </option>
                    {{/each}}
                </select>
                <div class="btn-container">
                    <input class="btn" type="submit" id="addUsersAnimes" value="Assign">
                </div>
            </fieldset>
        </form>
        <script src="./js/addUsersAnimes.js"></script>
    </section>
</body>