<!-- Users/Animes Page (intersection table for M:N) --> 

<!-- Citation for the following table and form: 
        Date: 11/16/2023
        Based on the CS340 starter code for displaying data
        Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app -->

<body>
    <header>
        <nav>
            <div class="logo"><a href="/index">CRISPYROLL</a></div>
            <div class="nav-links">
                <a href="/users">Users</a>
                <a href="/animes">Animes</a>
                <a href="/studios">Studios</a>
                <a href="/ratings">Ratings</a>
                <div class="highlight"><a href="/users_animes">Users/Animes</a></div>
            </div>
        </nav>
    </header>

    <section>
        <h1>USERS/ANIMES</h1>
        
        <!-- Users/Animes table -->
        <table id="users-animes-table" border="1" cellpadding="5">
            <thead>
                <tr>
                    <th>User Anime ID</th>
                    <th>User</th>
                    <th>Anime</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {{#each useranimes}}
                <tr data-value={{this.user_anime_id}}>
                    <td>{{this.user_anime_id}}</td>
                    <td>{{this.user_name}}</td>
                    <td>{{this.title}}</td>
                    <td><button onclick="deleteUserAnime({{this.user_anime_id}})">Delete</button></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <script src="./js/deleteUserAnime.js"></script>
        
    </section>
</body>
