<body>
    <header>
        <nav>
            <div class="logo"><a href="/index">CRISPYROLL</a></div>
            <div class="nav-links">
                <div class="highlight"><a href="/users">Users</a></div>
                <a href="/animes">Animes</a>
                <a href="/studios">Studios</a>
                <a href="/ratings">Ratings</a>
                <a href="/users_animes">Users/Animes</a>
            </div>
        </nav>
    </header>

    <section>
        <h1>USERS</h1>

        <table id="users-table" border="1" cellpadding="5">
            <thead>
                <tr>
                    {{#each users.[0]}}
                    <th>{{@key}}</th>
                    {{/each}}
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {{#each users}}
                <tr data-value={{this.user_id}}>
                    <td>{{this.user_id}}</td>
                    <td>{{this.user_name}}</td>
                    <td>{{this.user_email}}</td>
                    <td><button onclick="deleteUser({{this.user_id}})">Delete</button></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <p>&nbsp;</p>

        <!-- Insert using AJAX -->
        <form id="add-user-form-ajax">
            <legend><strong>Add User</strong></legend>
            <fieldset class="fields">
                <label> User Name </label> <input type="text" name="input-user-name" id="input-user-name">
                <label> User Email </label> <input type="number" name="input-user-email" id="input-user-email">
                <div class="btn-container">
                    <input class="btn" type="submit" id="addUser" value="Add a User">
                </div>
            </fieldset>
        </form>
        <script src="./js/addUser.js"></script>
        <p>&nbsp;</p>

        <!-- Update using AJAX -->
        <form id="update-user-form-ajax">
            <legend><strong>Update User</strong></legend>
            <fieldset class="fields">
                <label for="input-user-name"> Username </label> <input type="text" name="name">
                <label for="input-user-email"> Email </label> <input type="text" name="input-user-email"
                    id="year-founded-update">
                <div class="btn-container">
                    <input class="btn" type="submit" id="updateUser" value="Save Update User">
                </div>
            </fieldset>
        </form>
        <script src="./js/updateUser.js"></script>
    </section>
</body>