<!-- Users Page --> 

<!-- Citation for the following table and form: 
        Date: 11/16/2023
        Based on the CS340 starter code for displaying and adding data, and dynamic dropdowns
        Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app -->

<body>
    <header>
        <nav>
            <div class="logo"><a href="/index">CRISPYROLL</a></div>
            <div class="nav-links">
                <div class="highlight"><a href="/users">Users</a></div>
                <a href="/animes">Animes</a>
                <a href="/studios">Studios</a>
                <a href="/ratings">Ratings</a>
                <a href="/users_animes">Users/Animes</a>
            </div>
        </nav>
    </header>

    <section>
        <h1>USERS</h1>

        <!-- Users table -->
        <table class="users-table" id="users-table" border="1" cellpadding="5">
            <thead>
                <tr>
                    {{#each users.[0]}}
                    <th>{{@key}}</th>
                    {{/each}}
                    <th>Edit</th>
                    <th>*Delete</th>
                </tr>
            </thead>
            <tbody>
                {{#each users}}
                <tr data-value={{this.user_id}}>
                    <td>{{this.user_id}}</td>
                    <td>{{this.user_name}}</td>
                    <td>{{this.user_email}}</td>
                    <td><button><a href="/update-user?user_id={{this.user_id}}">Edit</a></button></td>
                    <td><button onclick="deleteUser({{this.user_id}})">Delete</button></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <script src="./js/deleteUser.js"></script>

        <div class="disclaimer">
            <p><strong>* Please note that deleting a user will also delete all entries of animes assigned to that user in the watchlist (Users/Animes table).</strong> </p>
        </div>

        <!-- Insert user -->
        <form id="add-user-form" method="POST" action="/add-user">
            <legend><strong>Add User</strong></legend>
            <fieldset class="fields">
                <p>Please fill out all fields. Make sure to enter a valid email.</p>
                <br>

                <label> Username </label> <input type="text" name="input-user-name" id="input-user-name" placeholder="Create a username">
                <label> Email </label> <input type="text" name="input-user-email" id="input-user-email" placeholder="Enter your email (e.g., johndoe@example.com)">

                <div class="btn-container">
                    <input class="btn" type="submit" id="addUser" value="Add a User">
                </div>
            </fieldset>
        </form>

        <!-- Assign anime to user -->
        <form id="add-user-anime-form" method="POST" action="/add-user-anime">
            <legend><strong>Assign Anime to User</strong></legend>
            <fieldset class="fields">
                <p>Please select a user and an anime. The chosen anime will be assigned to the selected user and added to the watchlist (Users/Animes table).</p>
                <br>

                <label for="input-user-name"> Username </label>

                <!-- Dynamic dropdown for Users -->
                <select class="dropdown" name="mySelectUser" id="mySelectUser">
                    <option disabled selected>Select a User</option>
                    {{#each users}}
                    <option value="{{this.user_id}}">
                        {{this.user_name}}
                    </option>
                    {{/each}}
                </select>

                <!-- Dynamic dropdown for Animes -->
                <label for="input-anime"> Anime </label>
                <select class="dropdown" name="mySelectAnime" id="mySelectAnime">
                    <option disabled selected>Select an Anime</option>
                    {{#each animes}}
                    <option value="{{this.anime_id}}">
                        {{this.title}}
                    </option>
                    {{/each}}
                </select>

                <div class="btn-container">
                    <input class="btn" type="submit" id="addUsersAnimes" value="Assign">
                </div>
            </fieldset>
        </form>

    </section>
</body>